* {
    font-family: "Manrope", sans-serif;
}
body {
    background-color: hsl(217, 19%, 24%);
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 2em; 
}
.attribution a { color: hsl(228, 45%, 44%); }
main {
    text-align: center;
    color: white;
    background-color: hsl(217, 19%, 38%);
    width: 50%;
    border-radius: 20px;
    padding: 1em;
    position: relative;
    max-width: 500px;
}
h4 {
    color: hsl(150, 100%, 66%);
}
img {
    width: 100%;   
}
button {
    position: absolute;
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 50%;
    padding: 1em;
    left: 45%;
    bottom: -1em;
}
button:hover {
    box-shadow: 0 0 20px 5px hsl(150, 100%, 66%);
}
button img {
    width: 90%;
}
@media (max-width: 375px) {
    main{
        width: 80%;
    }
    
}